@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.custom-tabmenu .p-tabmenu-nav {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

.custom-tabmenu .p-tabmenu-nav .p-tabmenuitem {
  transition: color 0.3s ease;
  margin-right: 4rem;
}

.custom-tabmenu .p-tabmenu-nav .p-tabmenuitem:last-child {
  margin-right: 0;
}

.custom-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight {
  border-radius: 2rem;
  transition: color 0.3s ease, border 0.3s ease;
}

.custom-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight {
  border-radius: 2rem;
}

.custom-tabmenu .p-menuitem-link .pi {
  margin-right: 1rem;
}

.custom-tabview .p-tabview-nav{
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  border-bottom: 2px solid #4b5563;
}

.custom-tabview .p-tabview-nav li {
  flex: 1;
  text-align: center;
}

.custom-tabview .p-tabview-nav li .p-tabview-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  color: #ffffff;
}

.custom-tabview .custom-tabview-custom i, .custom-tabview-demo .custom-tabview-custom span {
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}

.custom-tabview .tabview-custom span {
  margin: 0 .5rem;
}

.custom-tabview .p-button {
  margin-right: .25rem;
}

.custom-tabview .p-tabview p {
  line-height: 1.5;
  margin: 0;
}

.custom-tabview .p-tabview {
  width: 50%;
  height: 500px;
  margin-right: 0;
}

.custom-tabview .p-tabview-panel {
  overflow-y: auto;
  height: calc(100% - 50px);
  padding: 1rem;
  color: #d1d5db;
}

.p-unselected .pi {
  color: #ffffff; 
}

.custom-select-button .p-selectbutton-button {
  border: none;
  transition: all 0.3s ease;
}

.custom-select-button .p-selectbutton-button:hover {
  background-color: #e0e0e0;
}

.custom-select-button .p-highlight {
  background-color: #3b82f6;
  color: white;
}

.sidebar-large-text {
  font-size: 1.5rem;
}

.sidebar-title {
  font-size: 2rem;
  font-weight: bold;
}