# .NET Core
## Ignore build results
bin/
obj/

# .NET Core User-specific files
.vscode/
.idea/

# User-specific files for Visual Studio for Mac
.vs2017/
.vs2019/

# ASP.NET Core
wwwroot/

# User-specific files for Visual Studio (Windows)
.vs/
.vsconfig

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows Installer logs
*.log

# ASP.NET temporary files
app_data/

# NPM packages
node_modules/

# Microsoft Azure Function files
local.settings.json

# Configuration file for Visual Studio for Mac
.vscode/settings.json

# .NET Core SDK and other environment tools configuration files
global.json

# Ignore cache files
*.cache
